      <div class="newsletter hidden-xs">
        <hr class="soften">
        <!-- <h4>Get the Newsletter!</h4> -->
        <p>Like what you read? Get my posts <em>(and only my posts)</em> delivered directly to your inbox.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://wanderingcio.us2.list-manage.com/subscribe/post?u=4044c31e36405e882a1edaf4b&amp;id=c6b477d361" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="form-control inline-input" id="mce-EMAIL" placeholder="Enter your email address..." required>
            <input style="display:inline;" type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
