      <a id="author" class="top"></a>
      <hr class="soften">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img class="img-circle" alt="{{ author.display_name }}" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=90">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="https://twitter.com/#!/{{ author.twitter }}"><i class="icon-twitter"></i> {{ author.display_name }}</a>
            </h4>
            <p>{{ author.bio }}</p>
          </div>
        </li>
      </ul>
