    <!-- Analytics and Scripts
    ================================================== -->
    {% if site.disqus_id %}<!-- Disqus Comments -->
    <script>
      var disqus_shortname = '{{ site.disqus_id }}';
        {% if page.comments == true %}
          {% comment %}
            `page.comments` can be only be set to true on pages/posts, so we embed the comments here.
          {% endcomment %}
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        {% else %}
          {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
          (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = '//' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
        {% endif %}
    </script>
    {% endif %}
    {% if site.google_plus_one %}<!-- Google Plus One -->
    <script type="text/javascript">
      (function() {
        var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
        script.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
      })();
    </script>
    {% endif %}
    {% if site.facebook_like %}<!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}
    {% if site.twitter_follow_button or site.twitter_tweet_button %}<!-- Twitter -->
    <script type="text/javascript">
      (function(){
        var twitterWidgets = document.createElement('script');
        twitterWidgets.type = 'text/javascript';
        twitterWidgets.async = true;
        twitterWidgets.src = '//platform.twitter.com/widgets.js';
        document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
      })();
    </script>
    {% endif %}
    {% if site.gauges_id %}<!-- Gauges (http://gaug.es/) -->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '{{ site.gauges_id }}');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    {% endif %}

    <!-- JavaScript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Once we have jQuery we can async load other scripts using jQuery -->
    <script>
      $(document).ready(function() {

        // Load js
        $.getScript("/assets/js/myblog.min.js")
        .done(function(script, textStatus) {
          console.log("myblog loaded.");
          // lets use affix bootstrap component to affix sidebar
          $('#sidebar').affix({
            offset: {
              // top: determines how far to scroll before applying .affixed class
              top: function () {
                var offsetTop      = $('#sidebar').offset().top                              // How far are we from top in total?
                var bodyPaddingTop = parseInt($(document.body).css("padding-top"), 10) || 0  // Account for body padding
                return (this.top = offsetTop - bodyPaddingTop - 1) // removing one pixel to turn on affix immediately
              }
            , bottom: function () {
                var footerOuterHeight = $('footer').outerHeight(true) || 0                   // Account for footer
                return (this.bottom = footerOuterHeight)
              }
            }
          });

          // Fire up image lazyloading
          $("img.lazy").unveil(500, function() {
            $(this).load(function() {
              this.style.opacity = 1;
            });
          });

          // fire up top navigation
          $().totop({fontAwesomeIcon: 'fa-arrow-circle-up'});

          // Fit Videos
          $(".posts").fitVids();

        })
        .fail(function(jqxhr, settings, exception) {
          console.log("myblog load failed.");
        });

      });
    </script>

{% if page.title == "Search" %}
<script>
  $(document).ready(function() {

    // Load lunr.js
    $.getScript("//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.3.3/lunr.min.js")
    .done(function(script, textStatus) {
      console.log("Lunr loaded.");
    })
    .fail(function(jqxhr, settings, exception) {
      console.log("Lunr load failed.");
    });

    // Load mustache.js
    $.getScript("//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js")
    .done(function(script, textStatus) {
      console.log("Mustache loaded.");
    })
    .fail(function(jqxhr, settings, exception) {
      console.log("Mustache load failed.");
    });

    // Load date.format.js
    $.getScript("../assets/js/vendor/date.format/date.format.js")
    .done(function(script, textStatus) {
      console.log("date.format loaded.");
    })
    .fail(function(jqxhr, settings, exception) {
      console.log("date.format load failed.");
    });

    // Load URI.js
    $.getScript("../assets/js/vendor/uri.js/src/URI.js")
    .done(function(script, textStatus) {
      console.log("URI loaded.");
    })
    .fail(function(jqxhr, settings, exception) {
      console.log("URI load failed.");
    });

    // Load Search.js
    $.getScript("../assets/js/lunr/jquery.lunr.search.js")
    .done(function(script, textStatus) {
      console.log("jquery.lunr.search loaded.");
    })
    .fail(function(jqxhr, settings, exception) {
      console.log("jquery.lunr.search load failed.");
    });

  });
</script>

<script>
      $(document).ready(function() {
        // Have to use timeout to wait for everything to load - sucks ;(
        setTimeout(
          function()
          {
            $('#search-query').lunrSearch({
              indexUrl: '/search.json',             // URL of the `search.json` index data for your site
              results:  '#search-results',          // jQuery selector for the search results container
              entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
              template: '#search-results-template'  // jQuery selector for the Mustache.js template
            });
            $("#search-query").focus();
          }, 500);

      // $(function() {
        // $('#search-query').lunrSearch({
        //   indexUrl: '/search.json',             // URL of the `search.json` index data for your site
        //   results:  '#search-results',          // jQuery selector for the search results container
        //   entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
        //   template: '#search-results-template'  // jQuery selector for the Mustache.js template
        // });

      });
</script>
{% endif %}
