<div id="sidebar" role="complementary">
            <a href="/"><img class="img-circle" src="http://www.gravatar.com/avatar/{{ site.authors.dan.gravatar }}.png?s=128" alt="{{ author.display_name }}" /></a>
            <a href="/"><h1>Dan Stroot</h1></a>
            <hr class="hr-sidebar hidden-xs hidden-sm">
            <p class="visible-md visible-lg">Happily married, proud father, technology addict and totally into building and creating.</p>
            <ul class="list-inline hidden-xs">
              <li><a href="/about/index.html">About</a></li>
              <li>&middot;</li>
              <li><a href="/archives/index.html">Archives</a></li>
            </ul>
            <hr class="hr-sidebar">
            <ul class="social list-inline hidden-xs hidden-sm">
              {% if site.twitter_id %}
              <li>
                  <a href="http://twitter.com/#!/{{ site.twitter_id }}" target="_blank"><i class="icon-twitter-sign"></i></a>
              </li>
              {% endif %}
              {% if site.facebook_id %}
              <li>
                  <a href="https://www.facebook.com/{{ site.facebook_id }}" target="_blank"><i class="icon-facebook-sign"></i></a>
              </li>
              {% endif %}
              {% if site.linkedin_id %}
              <li>
                  <a href="https://www.linkedin.com/in/{{ site.linkedin_id }}" target="_blank"><i class="icon-linkedin-sign"></i></a>
              </li>
              {% endif %}
              {% if site.google_plus_id %}
              <li>
                  <a href="https://plus.google.com/u/0/{{ site.google_plus_id }}/posts" target="_blank"><i class="icon-google-plus-sign"></i></a>
              </li>
              {% endif %}
            </ul>
          </div><!-- sidebar -->
