          <div id="sidebar" role="complementary">
            <a href="/"><img class="img-circle" src="http://www.gravatar.com/avatar/{{ site.authors.dan.gravatar }}?s=128" alt="{{ author.display_name }}" /></a>
            <!-- <img src="https://dl.dropboxusercontent.com/u/300203/blog-images/signature_transparent.png" width="230" alt="@danstroot"/> -->
            <a href="/"><h2>Dan Stroot</h2></a>
            <hr class="hr-sidebar">
            <p class="visible-md visible-lg">Happily married, proud father, technology addict and totally into building and creating.</p>
            <ul class="list-inline hidden-xs">
              <li><a href="/about/index.html">About</a></li>
              <li>&middot;</li>
              <li><a href="/archives/index.html">Archives</a></li>
            </ul>
            <hr class="hr-sidebar hidden-xs">
            <ul class="social list-inline hidden-xs hidden-sm">
              {% if site.twitter_id %}
              <li>
                  <a href="http://twitter.com/#!/{{ site.twitter_id }}" target="_blank"><i class="icon-twitter-sign"></i></a>
              </li>
              {% endif %}
              {% if site.facebook_id %}
              <li>
                  <a href="https://www.facebook.com/{{ site.facebook_id }}" target="_blank"><i class="icon-facebook-sign"></i></a>
              </li>
              {% endif %}
              {% if site.linkedin_id %}
              <li>
                  <a href="https://www.linkedin.com/in/{{ site.linkedin_id }}" target="_blank"><i class="icon-linkedin-sign"></i></a>
              </li>
              {% endif %}
              {% if site.google_plus_id %}
              <li>
                  <a href="https://plus.google.com/u/0/{{ site.google_plus_id }}/posts" target="_blank"><i class="icon-google-plus-sign"></i></a>
              </li>
              {% endif %}
            </ul>
            <!-- <br>
            <a href="//twitter.com/danstroot" class="twitter-follow-button" data-show-count="true">Follow @danstroot</a>
            <a class="twitter-timeline" href="https://twitter.com/danstroot" height="400" data-theme="light" data-chrome="noheader noborders transparent" data-widget-id="364148587401195520">Tweets by @danstroot</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
          </div>
