*, ::before, ::after { box-sizing: border-box; }
html { font-family: sans-serif; font-size: 62.5%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; }
body { margin: 0px; font-family: 'Proxima Nova', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.428571429; color: rgb(74, 75, 77); background-color: rgb(255, 255, 255); }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.row { margin-right: -15px; margin-left: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
#sidebar { padding-top: 10px; padding-right: 15px; text-align: center; }
a { background-color: transparent; background-position: initial initial; background-repeat: initial initial; color: rgb(74, 75, 77); text-decoration: none; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
#sidebar a { font-size: 22px; }
img { border: 0px; vertical-align: middle; }
.img-circle { border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; }
h1 { margin: 0.67em 0px; font-size: 2em; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Proxima Nova', Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3 { margin-top: 25px; margin-bottom: 12.5px; }
h1, .h1 { font-size: 31px; }
#sidebar h1 { margin-bottom: 0px; }
hr { height: 0px; box-sizing: content-box; margin-top: 25px; margin-bottom: 25px; border-width: 1px 0px 0px; border-top-style: solid; border-top-color: rgb(238, 238, 238); }
.hidden-xs { display: block !important; }
.hidden-xs, tr.hidden-xs, th.hidden-xs, td.hidden-xs { display: none !important; }
.hidden-sm { display: block !important; }
hr.hr-sidebar { width: 70%; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74902), rgba(0, 0, 0, 0)); border: 0px; }
.hidden-sm.hidden-xs, tr.hidden-sm.hidden-xs, th.hidden-sm.hidden-xs, td.hidden-sm.hidden-xs { display: none !important; }
p { margin: 0px 0px 12.5px; }
.visible-md, tr.visible-md, th.visible-md, td.visible-md { display: none !important; }
.visible-lg, tr.visible-lg, th.visible-lg, td.visible-lg { display: none !important; }
#sidebar p { margin-bottom: 15px; }
ul, ol { margin-top: 0px; margin-bottom: 12.5px; }
.list-inline { padding-left: 0px; list-style: none; }
.list-inline > li { display: inline-block; padding-right: 5px; padding-left: 5px; }
.list-inline > li:first-child { padding-left: 0px; }
#sidebar .social a { font-size: 54px; }
.ss-icon, .ss-icon.ss-social-circle, [class^="ss-"]::before, [class*=" ss-"]::before, [class^="ss-"].ss-social-circle::before, [class*=" ss-"].ss-social-circle::before, [class^="ss-"].right::after, [class*=" ss-"].right::after, [class^="ss-"].ss-social-circle.right::after, [class*=" ss-"].ss-social-circle.right::after { font-family: SSSocialCircle; font-style: normal; font-weight: 400; text-decoration: none; text-rendering: optimizelegibility; white-space: nowrap; -webkit-font-smoothing: antialiased; }
ul.post-index { padding: 0px; margin-bottom: 2em; list-style-type: none; }
.posttitle h1 { font-size: 22px; letter-spacing: 1px; }
.posttitle a { font-size: 22px; letter-spacing: 1px; text-decoration: none; }
.post-meta p { margin-top: 10px; font-size: 13px; }
.hide-on-phone { display: none; }
.post-meta a { font-weight: 700; color: rgb(74, 82, 90); }
.posts { display: block; padding: 0px; margin-top: 30px; margin-bottom: 30px; margin-left: 0px; }
.img-responsive { display: block; height: auto; max-width: 100%; margin-bottom: 20px; }
.img-rounded { border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
b, strong { font-weight: 700; }
.prev_next a { font-size: 20px; color: rgb(74, 82, 90); }
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: 400; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; margin-top: 0px; background-position: 0px 0px; background-repeat: repeat repeat; }
a [class^="icon-"], a [class*=" icon-"] { display: inline; }